@import "/shared/shared.css";

body {
    background-color: var(--background-dark);
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 4px;
}

.settings-button {
    background: linear-gradient(40deg, var(--accent-alt), var(--accent));
    border-radius: 8px;
    border-style: none;
    color: var(--text-light);
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: fit-content;
    min-height: fit-content;
}

@media (hover: hover) {
    .settings-button:hover {
        transform: scaleX(1.03);
    }
}
.settings-button:focus-visible {
    transform: scaleX(1.03);
}