* {
    box-sizing: border-box;
    font-family: Courier New, Arial, sans-serif;
    transition: 200ms;
}

body {
    background-image: linear-gradient(to bottom right, #202025, #2c2c30);
    background-size: cover;
    color: #cccccc;
    font-family: Courier New, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

#settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #2b2a33;
    border-radius: 15px;
    row-gap: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));

    > div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        > div {
            line-height: 30px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            column-gap: 6px;
        }
    }

    h3 {
        color: #f8f8f8;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    button {
        max-width: 500px;
        width: 100%;
        background-color: #3c3c47;
        color: inherit;
        font: inherit;
        border: none;
        border-radius: 7px;
        cursor: pointer;

        &:hover {
            background-color: #50505c;
        }

        &:active {
            background-color: #666673;
        }

        &:focus-visible {
            outline: none;
            background-color: #666673;
        }
    }

    input[type="checkbox"] {
        accent-color: #7873f5;
    }

    input {
        background-color: #3c3c47;
        color: inherit;
        border-radius: 7px;
        border: solid #202025 2px;
        font: inherit;

        &:active {
            border-color: #666673;
        }

        &:focus-visible {
            outline: none;
            border-color: #666673;
        }
    }

    br {
        margin: 5px;
    }
}