:root {
    --background-dark: #202025;
    --background-light: #2c2c30;
    --text-default: #cccccc;
    --text-light: #f8f8f8;

    --background-lighter: #2b2a33;

    --additional: #3c3c47;
    --additional-light: #50505c;
    --additional-lighter: #666673;

    --accent: #7873f5;
}

* {
    box-sizing: border-box;
    font-family: Courier New, Arial, sans-serif;
    transition: 200ms;
}

body {
    background-image: linear-gradient(to bottom right, var(--background-dark), var(--background-light));
    background-size: cover;
    color: var(--text-default);
    font-family: Courier New, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

#settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-lighter);
    border-radius: 15px;
    row-gap: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));

    > div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        > div {
            line-height: 30px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            column-gap: 6px;
        }
    }

    h3 {
        color: var(--text-light);
        margin-bottom: 10px;
        margin-top: 10px;
    }

    button {
        max-width: 500px;
        width: 100%;
        background-color: var(--additional);
        color: inherit;
        font: inherit;
        border: none;
        border-radius: 7px;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                background-color: var(--additional-light);
            }
        }

        &:active {
            background-color: var(--additional-lighter);
        }

        &:focus-visible {
            outline: none;
            background-color: var(--additional-lighter);
        }
    }

    input[type="checkbox"] {
        accent-color: var(--accent);
    }

    input {
        background-color: var(--additional);
        color: inherit;
        border-radius: 7px;
        border: solid var(--background-dark) 2px;
        font: inherit;

        &:active {
            border-color: var(--additional-lighter);
        }

        &:focus-visible {
            outline: none;
            border-color: var(--additional-lighter);
        }
    }

    br {
        margin: 5px;
    }

    select {
        background-color: var(--additional);
        color: inherit;
        font: inherit;
        border-radius: 7px;
        border: solid var(--background-dark) 2px;
        padding: 7px;

        &:active {
            border-color: var(--additional-lighter);
        }

        &:focus-visible {
            outline: none;
            border-color: var(--additional-lighter);
        }
    }
}