:root {
    --background-dark: #202025;
    --background-light: #2c2c30;
    --text-default: #cccccc;
    --text-light: #f8f8f8;

    --background-lighter: #2b2a33;

    --additional: #3c3c47;
    --additional-light: #50505c;
    --additional-lighter: #666673;

    --accent: #7873f5;

    --warning: #911a1a;
    --warning-dark: #771010;
    --warning-darker: #530a0a;
}

/* open-sans-latin-400-normal */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/shared/fonts/open-sans-latin-400-normal.woff2") format('woff2'), url("/shared/fonts/open-sans-latin-400-normal.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: 'Open Sans', Arial, sans-serif;
    transition: 200ms;
    box-sizing: border-box;
}