@import "/shared/shared.css";

body {
    background-image: linear-gradient(to bottom right, var(--background-dark), var(--background-light));
    background-size: cover;
    color: var(--text-default);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: medium;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    max-width: 850px;
}

#settings {
    padding: 20px;
    background-color: var(--background-lighter);
    border-radius: 15px;
    max-width: 100%;
    overflow: hidden;

    #settings-header {
        display: flex;
        flex-wrap: wrap;
        white-space: wrap;
        column-gap: 10px;

        div {
            font-weight: bold;
            font-size: 18px;
            padding: 2px 10px;
            border-bottom: 3px solid var(--accent-alt);
            border-radius: 5px 5px 0 0;
            cursor: pointer;
            color: var(--text-light);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:not(.selected) {
                border-bottom-color: gray;
            }

            @media (hover: hover) {
                &:hover {
                    background-color: var(--background-dark);
                }
            }

            &:active {
                background-color: var(--accent);
            }
        }
    }

    #settings-panes {
        padding-top: 20px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        max-width: 100%;
        width: calc(min(850px, 100vw - 70px));
        scroll-behavior: smooth;

        > div {
            scroll-snap-align: start;
            min-width: 100%;
            max-width: 100%;
            flex-shrink: 1;
            opacity: 0;

            &.focused {
                opacity: 1;
            }

            > div {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                * {
                    word-wrap: break-word;
                    white-space: pre-line;
                }

                > div {
                    line-height: 30px;
                    padding-left: 20px;
                    display: flex;
                    align-items: center;
                    column-gap: 6px;

                    &.highlighted {
                        background-color: var(--background-dark);
                        border-radius: 7px;
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            height: 0;
        }

        h3 {
            color: var(--text-light);
            margin-bottom: 10px;
            margin-top: 10px;
        }

        button {
            max-width: 500px;
        }

        input[type="checkbox"] {
            accent-color: var(--accent);
            appearance: none;
            outline: 2px solid transparent;
            background-color: var(--additional);
            width: 20px;
            height: 20px;
            min-height: 20px;
            min-width: 20px;
            margin: 6px;
            padding: 0;
            border: solid 0 transparent;
            border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &:not(:disabled):checked {
                background-color: var(--accent);
                background-image: url("/shared/Checkbox check.svg");
            }

            @media (hover: hover) {
                &:not(:disabled):hover {
                    outline-color: var(--additional-lighter);
                }
            }

            &:focus-visible {
                outline-color: var(--additional-lighter);
            }
        }

        input[type="text"], input[type="number"] {
            background-color: var(--additional);
            color: inherit;
            border-radius: 7px;
            border: solid var(--background-dark) 2px;
            font: inherit;
            flex-shrink: 1;

            &:active {
                border-color: var(--additional-lighter);
            }

            &:focus-visible {
                outline: none;
                border-color: var(--additional-lighter);
            }
        }

        input[type="text"] {
            min-width: 100px;
        }

        input[type="number"] {
            min-width: 10px;
            width: 80px;
        }

        br {
            margin: 5px;
        }

        select {
            background-color: var(--additional);
            color: inherit;
            font: inherit;
            border-radius: 7px;
            border: solid var(--background-dark) 2px;
            padding: 7px;
            min-width: 0;
            flex-shrink: 1;
            cursor: pointer;

            &:active {
                border-color: var(--additional-lighter);
            }

            &:focus-visible {
                outline: none;
                border-color: var(--additional-lighter);
            }
        }

        .quickPicks {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            column-gap: 5px;
            row-gap: 5px;

            button {
                width: fit-content;
                padding: 5px 15px;
            }
        }

        .quickPicksWrapper {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;

            input {
                width: 100%;
            }
        }

        .draggableWrapper *{
            cursor: grab;
            touch-action: none;
        }
    }
}

#reverseFile {
    padding: 15px;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}

#reverseFileInput {
    display: none;
}

.active {
    filter: blur(3px);
}

.parent {
    background-color: var(--additional);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));

    &:has(#reverseFile:active), &:has(#reverseFile:focus-visible) {
        background-color: var(--additional-lighter) !important;
    }

    @media (hover: hover) {
        &:has(#reverseFile:hover) {
            background-color: var(--additional-light);
        }
    }
}

button {
    width: 100%;
    background-color: var(--additional);
    color: inherit;
    font: inherit;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-line;

    @media (hover: hover) {
        &:hover {
            background-color: var(--additional-light);
        }
    }

    &:active {
        background-color: var(--additional-lighter);
    }

    &:focus-visible {
        outline: none;
        background-color: var(--additional-lighter);
    }

    &.warning {
        color: var(--text-light);
        background-color: var(--warning);

        @media (hover: hover) {
            &:hover {
                background-color: var(--warning-dark);
            }
        }

        &:active {
            background-color: var(--warning-darker);
        }

        &:focus-visible {
            outline: none;
            background-color: var(--warning-darker);
        }
    }
}

.dragging {
    visibility: hidden;
    transition: visibility 0s;
}

.draggingClone {
    position: absolute;
    transition: 0s;
    touch-action: none;
}

.hidden {
    display: none;
}

.inputWrap {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    white-space: nowrap !important;
}

.fullscreenOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;

    .contextmenu {
        position: absolute;
        width: fit-content;

        padding: 8px 13px;

        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    }

    &:has(.notifOuter) {
        backdrop-filter: blur(3px);
    }

    .notifOuter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);

        padding: 12px;
        width: min(400px, 60%);
        background-color: var(--background-dark);
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        row-gap: 10px;

        > :last-child {
            display: flex;
            column-gap: 5px;

            button {
                padding: 5px;
            }
        }
    }
}

/*Mobile settings hiding*/
body.mobile {
    div:has(> div > [id^="save_directory"]), div:has(> #bookmark_on_photo_page) {
        display: none !important;
    }
}

body:not(.mobile) {
    div:has(> #use_download_progress) {
        display: none !important;
    }
}

/*chrome stuff*/
body.chrome {
    #settings-panes {
        overflow-x: visible !important;
        overflow-y: visible !important;
        transition: transform 0.25s cubic-bezier(0.0, 0.0, 0.58, 1.0), height 0.2s ease-in-out;
    }
}

/*Dynamic settings hiding*/
div:has(> * > #vx_button:not(:checked)) > *:nth-child(n+3),
div:has(> * > #media_download_button:not(:checked)) > *:nth-child(n+4),
div:has(> * > #download_history_enabled:not(:checked)) > *:nth-child(n+3) {
    display: none !important;
}