body.introduction {
    overflow: hidden;
}

.intro-wrapper {
    width: 100%;
    height: 80vh;
    text-align: center;
    user-select: none;
    touch-action: none;

    *:not(img) {
        transform: translateY(-60px);
    }

    button {
        border: none;
        outline: none;
        cursor: pointer;
        --size: 5px;
        width: calc(var(--size) * 16);
        height: calc(var(--size) * 7);
        background: transparent url('/shared/down arrow.svg') no-repeat;
        background-size: cover;
        border-radius: 0;
        transform: none;

        @media(hover: hover) {
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.intro-end {
    transition: 0.5s ease-in-out !important;
}

.nopointer {
    pointer-events: none;
    user-select: none;
    touch-action: none;
}

.logo {
    width: 128px;
    height: 128px;

    transform-style: preserve-3d;
    transform: translateY(-60px) perspective(1000px) rotateX(var(--x, 0)) rotateY(var(--y, 0));
    transform-origin: 50% 50%;

    @media(hover: hover) {
        &:has(img:last-of-type:hover) {
            transition: none;
            transform: translateY(-60px) perspective(1000px) rotateX(var(--x, 0)) rotateY(var(--y, 0)) scale(1.2);
        }
    }

    img {
        top: 0;
        left: 0;
        width: 128px;
        height: 128px;
        position: absolute;
        filter: brightness(0.8);
        transform: translateZ(var(--pos));

        &:last-of-type {
            filter: none;
        }
    }
}