.usybuttonclickdiv:active > div > button > div > div > div {
    background-color: rgba(29, 155, 240, 0.2);
}

.usybuttonclickdiv, .usybuttonclickdiv * {
    cursor: pointer;
}

.usyMarked, .usyMarked * {
    color: green;
    transition: 230ms;
}

@media (hover: hover) {
    .usyMarked:hover, .usyMarked:hover * {
        color: #529a52;
    }
}

.hidden {
    display: none;
}

body {
    position: relative;
}

.usyNotificationOuter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    gap: 5px;

    pointer-events: none;
}

.usyNotificationOuter * {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.usyNotificationInner {
    box-sizing: border-box;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    background-color: #1d9bf0;
    pointer-events: all;
    max-width: 22em;

    word-wrap: break-word;
    white-space: pre-line;

    position: absolute;
    bottom: 2em;

    opacity: 1;

    transition: opacity 0.3s;
}

.usyErrorNotificationOuter, .usyDownloadNotificationOuter {
    align-items: flex-end;
}

.usyErrorNotificationInner, .usyDownloadNotificationInner {
    background-color: #911a1a;
    position: relative;
    bottom: 1em;
    right: 1em;
}

.usyDownloadNotificationInner {
    width: 50vw;
    height: auto;
    min-height: 50px;
    background-color: #43647a;
    z-index: 100;
    overflow: hidden;

    > .usyDownloadProgressBar {
        position: absolute;
        background-color: #0d9af1;
        width: 0;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 101;
        transition: width 0.1s;
    }

    > .usyDownloadTextBox {
        position: relative;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        text-align: center;
        z-index: 102;
        width: 100%;
    }
}

.usyVideoPreview {
    position: absolute;
    max-width: min(360px, var(--usy-max-width, 360px));
    max-height: 300px;
    height: auto;
    object-fit: contain;
    pointer-events: none;
    z-index: 1000;
    transform: translateY(-50%);
    border-radius: 9px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 15px, rgba(255, 255, 255, 0.15) 0 0 3px 1px;
}

.usyErrorNotificationClear {
    background-color: #530a0a;
}

.usyNotificationInner.usyFadeOut {
    opacity: 0;
}

@media only screen and (max-width: 499px) {
    .usyNotificationInner {
        bottom: 5em !important;
    }
}

/*video download choice popup stuff*/
.usyNotificationOuter.usyFullscreen {
    pointer-events: all;
}

.usyDownloadChoicePopup {
    pointer-events: all;
    position: absolute;
    border-radius: 9px;
    background-color: #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 10em;
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 15px, rgba(255, 255, 255, 0.15) 0 0 3px 1px;
    opacity: 0;

    &.animate {
        animation: usyProgressIn 1s ease-out forwards;
        opacity: 1;
    }
}

.usybuttonclickdiv[usy-media] {
    &:not(.usy-inline) {
        position: absolute;
    }
    display: flex;

    button {
        background: none;
        outline: none;
        border: none;
        padding: 1px;
        height: fit-content;
        position: relative;
    }

    svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;

        g {
            transform: translateY(-1px);
        }

        path {
            transition: 0.2s;
        }
    }

    svg:not(.r-1cvl2hr) {
        color: grey;
    }

    button::before {
        transition: 0.3s;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: lightblue;
        opacity: 0;
        z-index: -1;
    }

    button:has(.r-1cvl2hr)::before {
        opacity: 0.3;
    }

    &.usy-top {
        top: 0;

        &.usy-left {
            transform-origin: top left !important;
        }

        &.usy-right {
            transform-origin: top right !important;
        }
    }

    &.usy-bottom {
        bottom: 0;
        align-items: flex-end;

        &.usy-left {
            transform-origin: bottom left !important;
        }

        &.usy-right {
            transform-origin: bottom right !important;
        }
    }

    &.usy-left {
        left: 0;
    }

    &.usy-right {
        right: 0;
        justify-content: flex-end;
    }
}

.usyDownloadChoiceButton {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    transition: 200ms ease-in-out;

    .usyThumbnailDiv {
        box-sizing: border-box;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30%;
        z-index: 1000;

        svg {
            z-index: 1001;
        }
    }
}

.usyDownloadChoiceButton:active {
    background-color: #ffffff1f;
}

@media (hover: hover) {
    .usyDownloadChoiceButton:hover {
        background-color: #ffffff0b;
    }
}

@media (hover: hover) {
    .usyDownloadChoiceButton .usyThumbnailDiv:hover {
        background-color: #ffffff0b;
    }
}

@keyframes usyProgressIn {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 1000px;
    }
}
