.usybuttonclickdiv:active > div > button > div > div > div {
    background-color: rgba(29, 155, 240, 0.2);
}

.usybuttonclickdiv, .usybuttonclickdiv * {
    cursor: pointer;
}

.usyMarked, .usyMarked * {
    color: green;
    transition: 230ms;
}

@media (hover: hover) {
    .usyMarked:hover, .usyMarked:hover * {
        color: #529a52;
    }
}

.hidden {
    display: none;
}

body {
    position: relative;
}

.usyNotificationOuter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;

    pointer-events: none;
}

.usyNotificationOuter * {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.usyNotificationInner {
    box-sizing: border-box;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    background-color: #1d9bf0;
    pointer-events: all;
    max-width: 22em;

    word-wrap: break-word;
    white-space: wrap;

    position: absolute;
    bottom: 2em;

    opacity: 1;

    transition: opacity 0.3s;
}

.usyNotificationInner.usyFadeOut {
    opacity: 0;
}

@media only screen and (max-width: 499px) {
    .usyNotificationInner {
        bottom: 5em !important;
    }
}

/*video download choice popup stuff*/
.usyNotificationOuter.usyFullscreen {
    pointer-events: all;
}

.usyDownloadChoicePopup {
    pointer-events: all;
    position: absolute;
    border-radius: 9px;
    background-color: #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 10em;
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 15px, rgba(255, 255, 255, 0.15) 0 0 3px 1px;
    opacity: 0;

    &.animate {
        animation: usyProgressIn 1s ease-out forwards;
        opacity: 1;
    }
}

.usyDownloadChoiceButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    z-index: 9999999999;
    width: 100%;
    box-sizing: border-box;
    transition: 200ms ease-in-out;
}

.usyDownloadChoiceButton:active {
    background-color: #ffffff1f;
}

@media (hover: hover) {
    .usyDownloadChoiceButton:hover {
        background-color: #ffffff0b;
    }
}

@keyframes usyProgressIn {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 1000px;
    }
}
