@import "/shared/shared.css";

body {
    background-color: var(--background-dark);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: fixed;
}

.file {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.file-input label {
    position: absolute;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    padding: 20px;
    border-radius: 25px;
    background: linear-gradient(40deg,var(--accent-alt),var(--accent));
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    color: var(--text-light);
    cursor: pointer;
    transition: transform .2s ease-out;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
}

input:hover + label, input:focus + label {
    transform: translateX(-50%) translateY(-50%) scale(1.02);
}